
.pokemonName{
    width: 100%;
    background: linear-gradient(red,white);
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.imgPokemon{
    background-color: white;
    justify-self: center;
    width: 150px;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid black;
   
}

.estadisticas{
    background-color: lightgray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin: 5px;
    text-align: center;
    border: 2px dashed black;
}